
       img{
          width: 25%;
          padding: 10px;

       }
       h2{background-color: white;

        }
        body {
          font-size: 16px;
          background-color: orange;
          display: inline-block;
        }
